.app {
  background-color: var(--body-bg);
  height: 100vh;
  color: var(--text-color);
}
.container {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
}

.theme-button {
  background-color: transparent;
}
