:root {
  --body-bg: #ffffff;
  --text-color: #000000;
  --boxshadow-color: #f6f8ff;
}

.dark {
  --body-bg: #141d2f;
  --text-color: #ffffff;
  --bg-color: #1e2a47;
  --boxshadow-color: #141d2f;
}

body {
  margin: 0;
  font-family: 'Space Mono';
  font-size: 15px;
  line-height: 25px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.text-muted {
  color: #cccccc;
}
