body {
  margin: 0;
  font-family: 'Space Mono';
  font-size: 15px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.container {
  width: 650px;
  max-width: 100%;
  margin: 24px auto;
}

.d-flex {
  display: flex;
}

.text-muted {
  color: #cccccc;
}
